:root {
  --bg-dark: #030303;
  --bg-light:#fff;
  --font-gold: #9d8665;
  --font-dark: #000;
  --dark-red: #710707;
  --light-color: #fff;
  --font-family: "Roboto", Arial, sans-serif;
  --second-family: "Forum", serif;


  font-size: 10px;
  font-weight: 400;
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-dark);
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--light-color);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--font-family);
}

img{
  max-width: 100%;
}

a:hover{
  color: var(--font-gold);
}


.wrapper{
  max-width: 1440px;
  margin: 0 auto;
}

.section{
  padding: 75px 0;
}

.grid-2{
  display: grid;
  grid-template-columns: 1fr 720px;
  column-gap: 60px;
}
.grid-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 42px;
}

.light-bg{
  background-color: var(--bg-light);
  color: var(--font-dark);
}

.section__title,
.card__title{
  font-family: var(--second-family);
  color: var(--light-color);
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  /*border-bottom: var(--dark-red) 3px solid;*/
  margin-bottom: 75px;
}

.underlined-title{
  border-bottom: var(--dark-red) 3px solid
}

.card__title{
  position: relative;
  font-size: 32px;
  color: var(--font-dark);
  padding-top:25px;
  margin-bottom: 0;
}

.form-title{
  font-size: 28px;
  font-weight: bold;
  color: var(--font-dark);
  padding-bottom: 25px;
}

.card__title:after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 300px;
  background-color: var(--dark-red);
}

.light-bg .section__title{
  color: var(--font-gold);
}

p{
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  color: var(--light-color);
}

.light-bg p{
  color: var(--font-dark);
}

h4, label{
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 22px;
  color: var(--font-dark);
  padding: 10px 0 0 0;
}

h5{
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 18px;
  color: var(--font-dark);
  padding: 10px 0 0 0;
}




/*  header  */

.header__wrapper{
  display: flex;
  justify-content: space-between;
  /*display: grid;*/
  /*grid-template-columns: 200px 1fr;*/
  padding: 60px 0;
}

/*.nav{*/
/*  display: block;*/
/*  margin-left: auto;*/
/*}*/

.list{
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 2px;
}

.nav-header{
  display: flex;
  gap: 55px;
}

.logo {
  font-size: 28px;
  text-transform: uppercase;
  font-family: var(--second-family);
  letter-spacing: 2px;
  cursor: pointer;
}

.logo:before{
  /*content: url("./assets/logo.svg");*/
  content:'';
  mask:url("./assets/logo.svg");
  background-color: var(--light-color);
  display: inline-block;
  width: 49px;
  height: 26px;
  vertical-align: text-top;
  margin-right: 25px;
}
.logo:hover:before {
  background-color: var(--font-gold);
}


/* end header*/


/*section Welcome*/
.welcome-section .section__title{
  margin-bottom: 25px;
}

.welcome-section p{
  font-size: 28px;
  letter-spacing: 2px;
}
.welcome-wrapper{
  position: relative;
  /*height: 828px;*/
}

.welcome__info{
  position: absolute;
  top: 153px;
  left: 0;
  z-index: 5;
}

.button{
  display: flex;
  width: 360px;
  height: 75px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--dark-red);
  color: var(--light-color);
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 200;
  cursor: pointer;
  margin-top: 75px;
}

.button:hover{
  color: var(--light-color);
  background-color: var(--font-gold);
  transition: background-color 0.3s;
}

.slider-container{
  position: relative;
  overflow: hidden;
  /*margin: auto;*/
}

.slider{
  /*position: absolute;*/
  /*top:0;*/
  /*right:0;*/
  width: 1000px;
  margin-left: auto;
}

.slide:after{
  content: '';
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background: linear-gradient(90deg,  black , 16%, transparent);
}


.slider__controls{
  position: absolute;
  bottom: -60px;
  right: 0;
  width: 600px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:55px;
  background-color: var(--font-dark);
}

.slide{
  display: none;
  position: relative;
}

.slide.active,
.next-slide{
  display: block;
}

.next-slide{
  position: absolute;
  top: 0;
  width: 100%;
}


.right{
  animation-name: right;
  animation-duration: .5s;
  animation-direction: reverse;
}

.left{
  animation-name: left;
  animation-duration: .5s;
}

.from-right{
  animation-name: right;
  animation-duration: .5s;
}

.from-left{
  animation-name: left;
  animation-duration: .5s;
  animation-direction: reverse;
}



@keyframes left {
  from{
    left: 0
  }
  to{
    left: -100%
  }
}

@keyframes right {
  from{
    left: 100%
  }
  to{
    left: 0
  }
}

/*.fade{*/
/*  animation-name: fade;*/
/*  animation-duration: 5s;*/
/*}*/

/*@keyframes fade {*/
/*  from{*/
/*    opacity: 0*/
/*  }*/
/*  to{*/
/*    opacity: 1*/
/*  }*/
/*}*/

.bullets{
  display: flex;
  gap:25px;
}

.bullet{
  width: 16px;
  height: 16px;
  background-color: var(--light-color);
  cursor: pointer;
}

.active-bullet{
  background-color: var(--font-gold);
}

.arrows{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.arrow{
  width: 30px;
  height: 8px;
  background-color: var(--light-color);
  cursor: pointer;
}
.prev{
  mask:url("./assets/svg/welcome/←-1.svg") no-repeat center center;
}

.next{
  mask:url("./assets/svg/welcome/←-1.svg") no-repeat center center;
  transform: rotate(180deg);
}
/*end section Welcome*/


/*section Virtual tour*/
.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  row-gap: 75px;
}

.card{
  position: relative;
}

.card__link::before{
  content: '';
  position: absolute;
  inset: 0;
  cursor: pointer;
}

/*end section Virtual tour*/

/*section Explorer*/

/*end section Explorer*/

/*section Gallery*/
.gallery-wrapper{
  height: 2125px;
  overflow: hidden;
  position: relative;
}

.gallery-wrapper:after{
  content: '';
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background: linear-gradient(0deg,  black , 16%, transparent);
}
.flex-3{
  display: flex;
  justify-content: space-between;
  column-gap: 36px;
}

.flex-3__column{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}
.margin-column{
  margin-top: 50px;
}



/*section end Gallery*/

/*section Video*/
.video > img{
  width: 100%;
}

.controls{
  background-color: var(--bg-dark);
  padding: 27px 30px;
  display: flex;
  justify-content: space-between;
  margin: 32px 0 40px;
}

.control{
  width: 30px;
  height: 30px;
  background-color: white;
}
.play{
  mask: url('./assets/svg/video/play.svg') no-repeat 0 0/contain;
}

.volume{
  mask: url('./assets/svg/video/volume.svg') no-repeat 0 0/contain;
}

.full{
  mask: url('./assets/svg/video/Frame.svg') no-repeat 0 0/contain;
}

.control:hover{
  background-color: var(--font-gold);
  cursor: pointer;
}

.video-slide{
  position: relative;
}

.title{
  position: absolute;
  left: 10px;
  top: 15px;
  width: 100%;
}

.title:before{
  content: url("./assets/svg/video/Ellipse 9.svg");
  vertical-align: middle;
  margin-right: 10px;
}

.title:after{
  content: url("./assets/svg/video/video-menu.svg");
  vertical-align: middle;
  margin-left: auto;
}


/*end section Video*/

/*Tickets*/
.form-tickets{
  display: flex;
  justify-content: space-between;

}
fieldset{
  display: flex;
  flex-direction: column;
  border: none;
  padding-top: 25px;
}
.type-ticket{
  padding-top: 25px;
}
.type-ticket input{
  margin-right: 23px;
}

.total{

}
/*end Tickets*/

/*menu burger*/
.burger{
  display: none;
  width: 32px;
  height: 18px;
  border-bottom: 2px solid var(--light-color);
  border-top: 2px solid var(--light-color);
  position: relative;
}
.burger:after{
  content: '';
  position: absolute;
  border-top:2px solid var(--light-color);
  top:50%;
  left:0;
  width: 100%;
}


/*end burger*/

/*footer*/
.footer__wrapper-up{
  padding: 75px 0 50px;
  display: flex;
  justify-content: space-between;
}

.footer__wrapper-bottom{
  padding: 50px 0 50px;
}

.nav{
  /*margin-left: 0;*/
}

.footer-nav{
  columns: 2;
  line-height: 50px;
}


.social-media{
  display: flex;
  justify-content: space-between;
  align-self: end;
  gap:25px;
}

.social-media__icon{
  width: 48px;
  height: 48px;
  background-color: white;
}

.insta{
  /*background: url("./assets/svg/social_icon/inst.svg") no-repeat center/50%;*/
  mask: url("./assets/svg/social_icon/Instagram.svg") no-repeat center;
}

.fb{
  mask: url("./assets/svg/social_icon/Facebook.svg") no-repeat center;
}

.pint{
  mask: url("./assets/svg/social_icon/pinterest.svg") no-repeat center;
}

.youtube{
  mask: url("./assets/svg/social_icon/Youtube.svg") no-repeat center;
}
.tw{
  mask: url("./assets/svg/social_icon/Twitter.svg") no-repeat center;
}

.social-media__icon:hover{
  background-color: var(--font-gold);
  cursor: pointer;
}

.copyrights{
  display: flex;
  justify-content: space-between;
}


/*end footer*/

@media (max-width: 1024px){
  .wrapper{
    max-width: 984px;
  }

  .burger{
    display: block;
    margin-left: auto;
  }

  .nav{
    display: none;
  }

  .cards{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 108px;
    row-gap: 60px;
  }
}

@media (max-width: 768px){
  .wrapper{
    max-width: 728px;
  }

  .cards{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 56px;
    row-gap: 40px;
  }
}



@media (max-width: 420px){
  .wrapper{
    max-width: 380px;
  }

}









