:root {
  --bg-dark: #030303;
  --bg-light:#fff;
  --font-gold: #9d8665;
  --font-dark: #000;
  --dark-red: #710707;
  --light-color: #fff;
  --font-family: "Roboto", Arial, sans-serif;
  --second-family: "Forum", serif;


  font-size: 10px;
  font-weight: 400;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark);
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--light-color);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--font-family);
}

a:hover{
  color: var(--font-gold);
}


.wrapper{
  width: 1440px;
  margin: 0 auto;
}

.section{
  padding: 75px 0;
}

.grid-2{
  display: grid;
  grid-template-columns: 1fr 720px;
  column-gap: 60px;
}
.grid-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 42px;
}

.light-bg{
  background-color: var(--bg-light);
  color: var(--font-dark);
}

h2, h3{
  font-family: var(--second-family);
  color: var(--light-color);
  font-size: 8em;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: var(--dark-red) 3px solid;
  margin-bottom: 75px;
}

h3{
  font-size: 3.2em;
  padding-top:25px;
  margin-bottom: 0;
}

.light-bg h2{
  color: var(--font-gold);
}

.light-bg h3{
  color: var(--font-dark);
  border-bottom: var(--dark-red) 2px solid;
}

p{
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 1.8em;
  color: var(--light-color);
}

.light-bg p{
  color: var(--font-dark);
}

h4{
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 2.2em;
  color: var(--font-dark);
  padding: 10px 0 0 0;
}

h5{
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 1.8em;
  color: var(--font-dark);
  padding: 10px 0 0 0;
}




/*  header  */

.header{

  display: grid;
  grid-template-columns: 200px 1fr;
  padding: 60px 0;
}

.nav{
  margin-left: auto;
}

.nav-list{
  display: flex;
  gap: 55px;
  font-size: 2.2em;
  font-weight: 100;
}

.logo {
  font-size: 2.8em;
  text-transform: uppercase;
  font-family: var(--second-family);
  letter-spacing: 0.18em;
  cursor: pointer;
}

.logo:before{
  /*content: url("./assets/logo.svg");*/
  content:'';
  mask:url("./assets/logo.svg");
  background-color: var(--light-color);
  display: inline-block;
  width: 49px;
  height: 26px;
  vertical-align: text-top;
  margin-right: 25px;
}
.logo:hover:before {
  background-color: var(--font-gold);
}


/* end header*/


/*section Virtual tour*/
.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
  row-gap: 75px;
}

.card{
  position: relative;
}

.card__link::before{
  content: '';
  position: absolute;
  inset: 0;
  cursor: pointer;
}

/*end section Virtual tour*/

/*section Explorer*/

/*end section Explorer*/

/*section Video*/
.video > img{
  width: 100%;
}

.controls{
  background-color: var(--bg-dark);
  padding: 27px 30px;
  display: flex;
  justify-content: space-between;
  margin: 32px 0 40px;
}

.control{
  width: 30px;
  height: 30px;
  background-color: white;
}
.play{
  mask: url('./assets/svg/video/play.svg') no-repeat 0 0/contain;
}

.volume{
  mask: url('./assets/svg/video/volume.svg') no-repeat 0 0/contain;
}

.full{
  mask: url('./assets/svg/video/Frame.svg') no-repeat 0 0/contain;
}

.control:hover{
  background-color: var(--font-gold);
  cursor: pointer;
}

.slide{
  position: relative;
}

.title{
  position: absolute;
  left: 10px;
  top: 15px;
  width: 100%;
}

.title:before{
  content: url("./assets/svg/video/Ellipse 9.svg");
  vertical-align: middle;
  margin-right: 10px;
}

.title:after{
  content: url("./assets/svg/video/video-menu.svg");
  vertical-align: middle;
  margin-left: auto;
}


/*end section Video*/

/*Tickets*/
fieldset{
  display: flex;
  flex-direction: column;
  border: none;
  padding-top: 50px;
}
/*end Tickets*/


/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/
