:root {
  --bg-dark: #030303;
  --bg-light:#fff;
  --font-gold: #9d8665;
  --font-dark: #000;
  --dark-red: #710707;
  --light-color: #fff;
  --font-family: "Roboto", Arial, sans-serif;
  --second-family: "Forum", serif;


  font-size: 10px;
  font-weight: 400;
}

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-dark);
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--light-color);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--font-family);
}

a:hover{
  color: var(--font-gold);
}


.wrapper{
  width: 1440px;
  margin: 0 auto;
}

.light-bg{
  background-color: var(--bg-light);
  color: var(--font-dark);
}

h2, h3{
  font-family: var(--second-family);
  color: var(--light-color);
  font-size: 8em;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  padding-top:75px;
}

h3{
  font-size: 3.2em;
  padding-top:25px;
}

.light-bg h2{
  color: var(--font-gold);
  border-bottom: var(--dark-red) 3px solid;
}

.light-bg h3{
  color: var(--font-dark);
  border-bottom: var(--dark-red) 2px solid;
}

p{
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 1.8em;
  color: var(--font-dark);
}

h4{
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 2.2em;
  color: var(--font-dark);
  padding: 10px 0 0 0;
}

h5{
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 1.8em;
  color: var(--font-dark);
  padding: 10px 0 0 0;
}




/*  header  */

.header{

  display: grid;
  grid-template-columns: 200px 1fr;
  padding: 60px 0;
}

.nav{
  margin-left: auto;
}

.nav-list{
  display: flex;
  gap: 55px;
  font-size: 2.2em;
  font-weight: 100;
}

.logo {
  font-size: 2.8em;
  text-transform: uppercase;
  font-family: var(--second-family);
  letter-spacing: 0.18em;
  cursor: pointer;
}

.logo:before{
  /*content: url("./assets/logo.svg");*/
  content:'';
  mask:url("./assets/logo.svg");
  background-color: var(--light-color);
  display: inline-block;
  width: 49px;
  height: 26px;
  vertical-align: text-top;
  margin-right: 25px;
}
.logo:hover:before {
  background-color: var(--font-gold);
}


/* end header*/


/*section Virtual tour*/
.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  row-gap: 75px;
  padding:75px 0;
}

.card{
  position: relative;
}

.card__link::before{
  content: '';
  position: absolute;
  inset: 0;
  cursor: pointer;
}



/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/
